@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.6;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/**________________共通のスタイル______________**/
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.button {
  background-color: crimson;
  color: white;
  width: 280px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: auto;
}
.button:hover {
  opacity: 0.6;
  transition: 0.5s;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
body {
  font-family: "游ゴシック";
  font-weight: 500;
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
}
/**________________トップヘッダー_______________**/
#topheader {
  height: 70px;
  width: 100%;
  background-color: white;
  padding: 0 20px;
  position: fixed;
  z-index: 200;
}
.topheader-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.topheader-name {
  font-size: 25px;
  padding-left: 10px;
}
.topheader-list {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  margin-right: 30px;
}
.topheader-list li {
  padding: 0 15px;
}
/**_________________firstview___________________**/
#firstview {
  width: 100%;
  height: 55%;
  background: url(../img/mv.png);
  background-size: cover;
  background-position: 100% 40%;
  position: relative;
  margin-bottom: 80px;
}
#eyecatch {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eyecatch-title {
  font-size: 30px;
  color: white;
}
/**___________________service______________________**/
#service {
  margin-bottom: 80px;
}
.service {
  width: 1100px;
  margin: auto;
}
.service-contents {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-top: black solid 1px;
}
.service4 {
  border-bottom: black solid 1px;
}
.service-contents_image {
  width: 280px;
  height: 180px;
}
.service-contents_image img {
  width: 280px;
  height: auto;
}
.service-contents-sentence {
  margin-left: 50px;
}
.service-contents-topic {
  font-size: 23px;
}
/**_________________contact_______________________**/
#contact {
  background-color: rgb(245, 246, 249);
  padding: 100px 0;
  text-align: center;
}
.contact-topic {
  font-size: 30px;
}
.contact-topic {
  margin-bottom: 10px;
}
.contact-detail {
  margin-bottom: 25px;
}
/**__________________ボットヘッダー_______________**/
#botheader {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 10px;
  padding: 25px 90px;
  background-color: rgb(34, 34, 34);
  color: white;
}
.border-name {
  font-weight: 200;
}
.botheader-list {
  display: flex;
}
.botheader-list li {
  border-left: white solid 1px;
  padding: 0 11px;
}
.botheader-list li:first-child {
  border-left-style: none;
}
.botheader-list a {
  color: white;
}
/**______________________hamburger______________**/
#hamburger{display: none;}
/**__________________レスポンシブデザイン__________**/
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
/**_____________ハンバーガーメニュー_________**/
.hamburger-icon{width: 50px;
           height: 50px;
           position: fixed;
           top: 10px;
           right: 30px;;
           z-index: 400;}
.hamburger-icon span {display: block;
                  width: 40px;
                  height: 4px;
                  background-color: black;
                  position: absolute;}
.line1{top: 10px;}
.line2{top: 25px;}
.line3{top: 40px;}
#checkburger:checked ~.hamburger-icon span{transition: 0.5s;}
#checkburger:checked ~.hamburger-icon .line1{transform: 
translateY(13px) rotate(-45deg);}
#checkburger:checked ~.hamburger-icon .line2{opacity: 0;}
#checkburger:checked ~.hamburger-icon .line3{transform: translateY(-17px) rotate(45deg);}
#checkburger:checked ~.hiddencontent{left: 0px;
transition: 1s;}
#checkburger:checked ~#checkburger_hidden{z-index: 1200;}
#checkburger_hidden:checked ~.hiddencontent{left: -1000px;;
transition: 1s;}
#checkburger_hidden:checked ~#checkburger:checked ~.hamburger-icon span{transition: 0.5s;}
#checkburger_hidden:checked ~.hamburger-icon .line1{transform: 
translateY(0px) rotate(0deg);}
#checkburger_hidden:checked ~.hamburger-icon .line2{opacity: 1;}
#checkburger_hidden:checked ~.hamburger-icon .line3{transform: translateY(0px) rotate(0deg);}
.topheader-list{display: none;}
.burgercheck{position: fixed;
  cursor: pointer;
  opacity: 0;
  top: 10px;
  right: 30px;
  width: 50px;
  height: 50px;}
#checkburger{z-index: 1000;}
#checkburger_hidden{z-index: 0;}
.hiddencontent{width: 100%;
               height: 100%;
                text-align: center;
                position: fixed;
                font-weight: 600;
                top: 0px;
                left: -1000px;
                background-color: white;
                z-index: 300;}
.hiddencontent a{color:royalblue;
                 font-weight: 500;
                 font-size: 18px;}
.hiddencontent-list li{margin: 40px;}
.hiddencontent-list li:first-child{margin-top: 60px;}
  /**______________サービス_______________**/
  #service {
    width: 100%;
  }
  .service{width: 83%;}
  .service-contents {
    flex-wrap: wrap;
  }
  .service-contents_image {
    width: 100%;
    height: auto;
  }
  .service-contents_image img {
    width: 100%;
  }
  .service-contents-sentence {
    margin-left: 0px;
  }
  /**____________botheader__________**/
  #botheader {
    font-size: 12px;
    align-items: center;
    padding: 20px 50px;
  }
  .botheader-name {
    text-align: center;
  }
  .botheader-list {
    display: block;
    text-align: center;
    padding-right: 100px;
  }
  .botheader-list li {
    border-style: none;
  }
  .botheader-name,
  .botheader-list li {
    padding: 10px;
  }
}
